<!DOCTYPE html>
<html>
<head>
	<title>403 Forbidden</title>
</head>
<body>

<p>Directory access is forbidden.</p>

</body>
</html>




<div class="col-sm-5">
<select class="custom-select">
  <option selected>Pilih Company</option>
  <option value="1">SBF</option>
  <option value="2">CPR</option>
</select>
</div>


<div class="col-sm-5">
<select class="custom-select">
  <option selected>Pilih Unit</option>
  <option value="1">U1</option>
  <option value="2">U2</option>
  <option value="3">U3</option>
  <option value="4">U4</option>
  <option value="5">U5</option>
</select>
</div>


<div class="col-sm-5">
<select class="custom-select">
  <option selected>Pilih Status</option>
  <option value="1">Draft</option>
  <option value="2">Active</option>
  <option value="3">Review</option>
  <option value="4">Obsolute</option>
  <option value="5">Pending</option>
</select>
</div>

<div class="form-group">
    <label for="formGroupExampleInput">Example label</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </div>

<div class="form-group">
    <label for="departement">Departement</label>
    <input type="text" name="departement"class="form-control" placeholder="Input departement">
    <?= form_error('departement','<div class="text-small text-danger">','</di>'); ?>
  </div>

  <div class="form-group">
    <label for="formulir_no">Formulir No</label>
    <input type="date"  name="formulir_no" class="form-control" placeholder="Input formulir_no">
    <?= form_error('formulir_no','<div class="text-small text-danger">','</di>'); ?>
  </div>

  <div class="form-group">
    <label for="formulir_date">Formulir date</label>
    <input type="date"  name="formulir_date" class="form-control" placeholder="Input formulir_date">
    <?= form_error('formulir_date','<div class="text-small text-danger">','</di>'); ?>
  </div>

  <div class="form-group">
    <label for="form_title">Formulir Title</label>
    <input type="text" name="formulir_title" class="form-control" placeholder="Input form_title">
    <?= form_error('form_title','<div class="text-small text-danger">','</di>'); ?>
  </div>

  <div class="form-group">
    <label for="eff_date">Eff date</label>
    <input type="date"  name="eff_date" class="form-control" placeholder="Input eff_date">
    <?= form_error('eff_date','<div class="text-small text-danger">','</di>'); ?>
  </div>

  <div class="form-group">
    <label for="exp_date">Exp date</label>
    <input type="date"  name="exp_date" class="form-control" placeholder="Input exp_date">
    <?= form_error('exp_date','<div class="text-small text-danger">','</di>'); ?>
  </div>

  <div class="form-group">
    <label for="remarks">Remarks</label>
    <textarea name="remarks" class="form-control" placeholder="Input Remarks">
    <?= form_error('Remarks','<div class="text-small text-danger">','</di>'); ?>
  

  <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-save"></i> simpan</button>
</form>


<button type="button" data-toggle="modal" data-target="#modalubah" class="btn btn-warning btn-sm" formulir_no="btn-edit"
data-formulir_no="<?= $row['formulir_no']; ?>" data-formulir_no="<?= $row['formulir_no']; ?>"><i class="fas fa-edit"></i></a> </button>
</button>